html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display:block;
    touch-action: none;
}		
#ios_scrollup {
    position: absolute;
    top: 0px;
    left:0px;
    width:100%;
    height:200%;
    z-index: 0;
    background-color: #00000055;
    color: white;
}
