@font-face {
    font-family: "FontAwesome6Free";
    font-style: normal;
    font-display: block;
    font-weight: bold;
    src: url("./fa-solid-900.woff2") format("woff2"), url("./fonts/fa-solid-900.ttf") format("truetype"); 
    unicode-range: U+F000-FFFF;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 4px;
}

select,
::picker(select) {
    appearance: base-select;

    --data-color: attr(data-color type(<color>));
    --data-bordercolor: attr(data-bordercolor type(<color>));
    --data-textcolor: attr(data-textcolor type(<color>));
    background-color: var(--data-color, rgba(35,39,49,1));
    border-color: var(--data-bordercolor, rgba(77,81,90,1));
    color: var(--data-textcolor, white);
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 0px;
    height: 0px;
    box-shadow: rgb(0, 162, 255) -1000px 0 0 1000px;
}

input[type="range"]{
    appearance: none;
    border-radius:4px;
    overflow: hidden;
    outline : none;
    /* border: 1px solid red; */
}

input[type="file"]::file-selector-button {
    color: rgba(200,200,200,1);
    background: rgba(35,39,49,1);
    margin: 0px;
    /* padding: 0px; */
    border: 1px solid rgba(57,61,70,1);
    border-radius: 4px;
    width: auto;
}
input[type="file"]::file-selector-button:hover {
    background: rgba(57,61,70,1);
    color: white;
}

.Win {
    margin: 0px;
    padding: 0px;
    font: bold medium "FontAwesome6Free",Arial, sans-serif, Helvetica;
    color: white;
    box-sizing: border-box;
}

.Win input {
    --data-color: attr(data-color type(<color>));
    --data-bordercolor: attr(data-bordercolor type(<color>));
    --data-textcolor: attr(data-textcolor type(<color>));

    position: absolute;
    background-color: var(--data-color, rgba(23,26,29,1));
    border: 1px solid var(--data-bordercolor, rgba(57,61,70,1));
    color: var(--data-textcolor, white);
    caret-color:white;
    padding: 0px 4px 0px 4px;
}

.Win::file-selector-button {
    color: rgba(200,200,200,1);
    background: rgba(35,39,49,1);
    /* border-color: rgba(57,61,70,1);
    border-style: solid;
    border-width: 1px; */
    border: 1px solid rgba(57,61,70,1);
    border-radius: 4px;
    width: 120px;
}

.Win::file-selector-button:hover {
    background: rgba(57,61,70,1);
    color: white;
}

*[tip] {
    --margin:1em;
    position: relative;

    &:hover:after {
        content: attr(tip);
        position: absolute;
        background: rgba(0,0,0,0.6);
        top: calc(var(--margin) * 1.5);
        left: 10%;
        color: var(--black);
        padding: calc(var(--margin) * 0.2) calc(var(--margin) * 0.5);
        border-radius: calc(var(--margin) * 0.5);
        white-space: nowrap;
        font-size: var(--margin);
        z-index: 999;
        pointer-events: none;
        display: block;
        width: max-content;
    }
}

.Panel {
    --data-color: attr(data-color type(<color>));
    --data-bordercolor: attr(data-bordercolor type(<color>));
    --data-textcolor: attr(data-textcolor type(<color>));
    display: block;
    background-color: var(--data-color, rgba(23,26,29,1));
    color: var(--data-textcolor);
}

/* .Button {
    --data-color: attr(data-color type(<color>));
    --data-bordercolor: attr(data-bordercolor type(<color>));
    --data-textcolor: attr(data-textcolor type(<color>));
    display: block;
    background-color: var(--data-color, rgba(35,39,49,1));
    border-color: var(--data-bordercolor, rgba(57,61,70,1));
    color: var(--data-textcolor, rgba(200,200,200,1));
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    text-align: center;
} */
.Button:hover {
    --data-colorhover: attr(data-colorhover type(<color>));
    --data-textcolorhover: attr(data-textcolorhover type(<color>));
    background-color: var(--data-colorhover, rgba(57,61,70,1));
    color: var(--data-textcolorhover, white);
}
.Button:active {
    --data-colordown: attr(data-colordown type(<color>));
    background-color: var(--data-colordown);
}
.Button::selection {
    background: none;
}
.Edit {
    --data-color: attr(data-color type(<color>));
    --data-bordercolor: attr(data-bordercolor type(<color>));
    --data-textcolor: attr(data-textcolor type(<color>));

    background-color: var(--data-color, rgba(23,26,29,1));
    border-color: var(--data-bordercolor, rgba(57,61,70,1));
    border-width: 1px;
    color: white;
    caret-color:white;
    height: 30px;
}

.Check {
    padding-left: 40px;
}

.Check::selection {
    background: none;
}

.Check label {
    padding-left: 5px;
}

.Check input {
    display: none;
}

.CheckMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: none;
    border: 1px solid rgba(57,61,70,1);
    border-radius: 4px;
}
.Check input:checked ~ .CheckMark {
    background-color: #2196F3;
}
.CheckMark:after {
    content: "";
    position: absolute;
    display: none;
}
.Check input:checked ~ .CheckMark:after {
    display: block;
}
.Check .CheckMark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);    
}
.Check label {
    pointer-events: none;
}

.Combo {
    padding: 0px 4px 0px 4px;
}

.Slider {
    overflow: auto;
}

.icon {
    height: auto;
    width: auto;
    border-style: none;
}

.xy {
    position: fixed;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}

.red {
    color: crimson;    
}

.right {
    margin-left: auto;
}

.text-center {
    text-align: center;
    line-height: 1.5;
}

.notify-off {
    pointer-events: none;
}

.notify-on {
    pointer-events: auto;
}
