@font-face {
    font-family: "FontAwesome6Free";
    font-style: normal;
    font-display: block;
    font-weight: bold;
    src: url("./fa-solid-900.woff2") format("woff2"), url("./fonts/fa-solid-900.ttf") format("truetype"); 
    unicode-range: U+F000-FFFF;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 4px;
}

.Win {
    margin: 0px;
    padding: 0px;
    font-family: "FontAwesome6Free",Arial, sans-serif, Helvetica;
    font-size: medium;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
}

.Win input {
    position: absolute;
    background-color: rgba(23,26,29,1);
    border-color: rgba(57,61,70,1);
    border-width: 1px;
    border-style: solid;
    color: white;
    caret-color:white;
    padding: 2px;
}

*[tip] {
  --margin:1em;
  position: relative;

  &:hover:after {
    content: attr(tip);
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: calc(var(--margin) * 1.5);
    left: 20%;
    color: var(--black);
    padding: calc(var(--margin) * 0.2) calc(var(--margin) * 0.5);
    border-radius: calc(var(--margin) * 0.5);
    white-space: nowrap;
    font-size: var(--margin);
    z-index: 999;
    pointer-events: none;
    display: block;
    width: max-content;
  }
}

.Panel {
    display: block;
    background-color: rgba(35,39,49,1);
    border-color: rgba(57,61,70,1);
    color: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
}

.Button {
    display: block;
    background-color: rgba(35,39,49,1);
    border-color: rgba(57,61,70,1);
    color: rgba(200,200,200,1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    text-align: center;
}
.Button:hover {
    background-color: rgba(57,61,70,1);
    color: rgba(255,255,255,1);
}
.Button:active {
    background-color: rgba(35,39,49,1);
}
.Button::selection {
    background: none;
}
.Edit {
    background-color: rgba(23,26,29,1);
    border-color: rgba(57,61,70,1);
    border-width: 1px;
    color: white;
    caret-color:white;
    height: 30px;
}
.Check {
    border: none;
    background-color: rgba(35,39,49,1);
    border-color: rgba(57,61,70,1);
    color: rgba(200,200,200,1);
}
.Check:hover {
    background-color: rgba(57,61,70,1);
    color: white;
}
.Check:active {
    background-color: rgba(35,39,49,1);
    color: rgba(200,200,200,1);
}
.Check::selection {
    background: none;
}

.Check label {
    padding-left: 5px;
}

.Combo {
    background-color: rgba(23,26,29,1);
    border-color: rgba(57,61,70,1);
    border-width: 1px;
    border-style: solid;
}

.Slider {
    overflow: auto;
}

.icon {
    height: auto;
    width: auto;
    border-style: none;
}

.xy {
    position: fixed;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}

.red {
    color: crimson;    
}

.right {
    margin-left: auto;
}

.text-center {
    text-align: center;
    line-height: 1.5;
}

.notify-off {
    pointer-events: none;
}

.notify-on {
    pointer-events: auto;
}
